
# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
.env
.env.*
.venv*/
dist/
build/

# pytest
.pytest_cache/
.coverage
htmlcov/

# vscode
.vscode/

# mac
.DS_Store

# docker
*.log

# secrets
secrets.*.yaml
# Terraform
infra/terraform/.terraform/
infra/terraform/terraform.tfstate
infra/terraform/terraform.tfstate.*
infra/terraform/terraform.tfvars
infra/terraform/crash.log
infra/terraform/.terraformrc
# Python / local
.venv/
.env
__pycache__/
infra/terraform/account.json
infra/terraform/.terraform/
infra/terraform/terraform.tfstate
infra/terraform/terraform.tfstate.*
infra/terraform/terraform.tfvars
.venv/
.env
__pycache__/
