apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: yt-llm-ing
  namespace: music
  annotations:
    kubernetes.io/ingress.class: "nginx"
spec:
  rules:
    - host: localhost           # works on Docker Desktop
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: yt-llm-svc
                port:
                  number: 80
