apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: yt-llm-ing
  namespace: music
  annotations:
    kubernetes.io/ingress.class: traefik
    cert-manager.io/cluster-issuer: "letsencrypt-staging" # first use staging
spec:
  ingressClassName: traefik
  tls:
    - hosts:
        - music.34.40.121.89.sslip.io
      secretName: yt-llm-tls
  rules:
    - host: music.34.40.121.89.sslip.io
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: yt-llm-svc
                port:
                  number: 80
